<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <h3>Click <a th:href="@{/departments/}">here</a> to see all departments.</h3>

        <h3>Enter an employee number to see their record:</h3>
        <form th:action="@{/employees{path}(path=${emp_no})}" method="get">
            <div><label> Employee Number: <input type="text" name="emp_no"/> </label></div>
            <div><input type="submit" value="Submit"/></div>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>