<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Menu</title>
    </head>
    <body>
    <div><h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1></div>

        <div><h3>Click <a th:href="@{/departments/}">here</a> to see all departments.</h3></div>

        <div><h3>Enter an Employee ID to see their record:</h3>
        <form th:action="@{/employees{path}(path=${id})}" method="get">
            <label> Employee ID: <input type="number" name="id"/> </label>
            <input type="submit" value="Submit"/>
        </form></div>

    <div><h3>Enter a Department ID to see its record:</h3>
        <form th:action="@{/departments{path}(path=${id})}" method="get">
            <label> Department ID: <input type="number" name="id"/> </label>
            <input type="submit" value="Submit"/>
        </form></div>

    <div><h3>Enter a Position ID to see its record:</h3>
        <form th:action="@{/positions{path}(path=${id})}" method="get">
            <label> Position ID: <input type="number" name="id"/> </label>
            <input type="submit" value="Submit"/>
        </form></div>

    </body>
</html>

<!--Sign Out Button-->
    <!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
    <!--</form>-->